.searchbar {
  border-radius: 10px;
  display: inline-block;
  margin: 3px;

  input[type=text] {
    padding: 5px;
    font-size: 1rem;
    font-family: Consolas;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: rebeccapurple;
    background-color: #202124;
    color: #F5F5F5;
  }

  input[type=text]:focus-visible {
    outline: none;
    box-shadow: rebeccapurple 2px 0px 2px,
    rebeccapurple 1.75517px 0.958851px 5px,
    rebeccapurple 1.0806px 1.68294px 5px,
    rebeccapurple 0.141474px 1.99499px 5px,
    rebeccapurple -0.832294px 1.81859px 5px,
    rebeccapurple -1.60229px 1.19694px 5px,
    rebeccapurple -1.97998px 0.28224px 5px,
    rebeccapurple -1.87291px -0.701566px 5px,
    rebeccapurple -1.30729px -1.5136px 5px,
    rebeccapurple -0.421592px -1.95506px 5px,
    rebeccapurple 0.567324px -1.91785px 5px,
    rebeccapurple 1.41734px -1.41108px 5px,
    rebeccapurple 1.92034px -0.558831px 5px;
  }

  input[type=text]:hover {
    box-shadow: rebeccapurple 2px 0px 2px,
    rebeccapurple 1.75517px 0.958851px 5px,
    rebeccapurple 1.0806px 1.68294px 5px,
    rebeccapurple 0.141474px 1.99499px 5px,
    rebeccapurple -0.832294px 1.81859px 5px,
    rebeccapurple -1.60229px 1.19694px 5px,
    rebeccapurple -1.97998px 0.28224px 5px,
    rebeccapurple -1.87291px -0.701566px 5px,
    rebeccapurple -1.30729px -1.5136px 5px,
    rebeccapurple -0.421592px -1.95506px 5px,
    rebeccapurple 0.567324px -1.91785px 5px,
    rebeccapurple 1.41734px -1.41108px 5px,
    rebeccapurple 1.92034px -0.558831px 5px;
  }

  input::placeholder {
    color: #F5F5F5;
    font-size: 1rem;
    font-family: Consolas;
  }

  input:focus::placeholder {
    color: transparent;
    text-shadow: none;
  }

  @media screen and (max-width: 667px) {
    display: block;
  }
}