.dropdown {
  width: 200px;
  border-radius: 10px;
  display: inline-block;
  margin: 3px;
  position: relative;

  ::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.dropdown-header {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  font-size: 1rem;
  font-family: Consolas;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rebeccapurple;
  background-color: #202124;
  color: #F5F5F5;

  &:hover {
    box-shadow: rebeccapurple 2px 0px 2px,
    rebeccapurple 1.75517px 0.958851px 5px,
    rebeccapurple 1.0806px 1.68294px 5px,
    rebeccapurple 0.141474px 1.99499px 5px,
    rebeccapurple -0.832294px 1.81859px 5px,
    rebeccapurple -1.60229px 1.19694px 5px,
    rebeccapurple -1.97998px 0.28224px 5px,
    rebeccapurple -1.87291px -0.701566px 5px,
    rebeccapurple -1.30729px -1.5136px 5px,
    rebeccapurple -0.421592px -1.95506px 5px,
    rebeccapurple 0.567324px -1.91785px 5px,
    rebeccapurple 1.41734px -1.41108px 5px,
    rebeccapurple 1.92034px -0.558831px 5px;
  }

  span {
    margin-left: 6px;
  }

  button {
    margin-left: 6px;
    padding: 0 4px;
    font-size: 1rem;
    font-family: Consolas;
    cursor: pointer;
    color: #F5F5F5;
    border: none;
    background-color: #202124;

    &:hover {
      border-radius: 10px;
      background-color: rebeccapurple;
    }
  }

}

.dropdown-body {
  padding: 5px;
  display: none;
  height: 190px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  z-index: 20000;
  background-color: #202124;
  border-radius: 10px;
  border-left: 1px solid rebeccapurple;
  border-right: 1px solid rebeccapurple;
  border-bottom: 1px solid rebeccapurple;
}

.dropdown-body.open {
  display: block;
}

.dropdown-item {
  margin-top: 5px;
  padding: 10px;
  font-size: 1rem;
  background-color: #202124;
  color: #F5F5F5;
  border-bottom: 1px solid rebeccapurple;
  text-align: center;

  &:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rebeccapurple;
  }
}

.selected-year {
  cursor: pointer;
  border-radius: 10px;
  background-color: rebeccapurple;
}
